html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

html{
  font-size: 13.33333333vw;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #f1f1f1;
}

@media only screen and (min-width: 750px) {
  html {
    font-size: 100px;
  }
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}


::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html,
body {
  width: 100%;
  -webkit-touch-callout: default;
}

body {
  line-height: 1.1;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 750px;
  min-height: 100vh;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background: #fff;
  margin: 0 auto !important;
  font-size: 0.28rem;
  color: $ftColor;
}
button {
  border: 0;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.clearfix::after {
  display: block;
  height: 0;
  content: "";
  clear: both;
}
.one-line {
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.two-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.wrapper {
  min-height: 100vh;
  background: $bgColor;
}
.reset-btn {
  font-weight: bold;
  font-size: 0.28rem;
  color: #3F4663;
}
.disabled {
  opacity: 0.5;
}

/* vant 样式覆盖 */
#app .van-tabbar--fixed {
  max-width: 750px;
  left: 50%;
  transform: translateX(-50%);
}
#app .van-nav-bar--fixed {
  max-width: 750px;
  left: 50%;
  transform: translateX(-50%);
}
#app .van-nav-bar__title {
  font-size: 0.36rem;
  font-weight: bold;
  color: #3F4663;
}
#app .van-nav-bar__content {
  height: 0.92rem;
}
#app .van-nav-bar__left {
  font-size: 0.36rem;
  color: #3F4663;
}

#app .van-overlay {
  left: 50%;
  transform: translateX(-50%);
  max-width: 7.5rem;
}
#app .van-popup--bottom {
  left: 50%;
  width: 7.5rem;
  margin-left: -3.75rem;
}
#app .van-image__error,
#app .van-image__loading {
  background-color: transparent;
}
#app .van-hairline--bottom::after {
  border: 0;
}
#app .van-button__text {
  font-weight: bold;
}
#app .van-dialog .van-button__text {
  font-weight: normal;
}
#app .van-skeleton {
  padding: 0;
}
#app .van-skeleton__avatar+.van-skeleton__content {
  padding-top: 0.46rem;
}
#app .van-sticky--fixed {
  width: 100%;
  max-width: 750px;
  left: 50%;
  transform: translateX(-50%);
}
.empty-box img {
  width: 2rem;
  height: auto;
}
@media only screen and (min-width: 750px){
  .van-sticky--fixed {
    width: 750px;
  }
}
