<template>
  <div id="app">
    <h2 class="title">js-sdk demo页面</h2>
    <div
      v-for="item in exampleList"
      :key="item.name"
      class="item">
      <h3>{{ item.name }}</h3>
      <p>{{ item.desc }}</p>
      <div v-for="(val, key) in item.params"
        :key="key"
        class="input-item">
        <span>{{ key }}</span>
        <input v-model="item.params[key]"/>
      </div>
      <button @click="invoke(item.invoke, item.params)">调用按钮</button>
    </div>
    <div v-show="resShow" class="dialog">
      <div class="msg-box">
        <p>{{ result }}</p>
        <button @click="hideDialog">确定</button>
      </div>
    </div>
  </div>
</template>

<script>
import zhitingBridge from '../core/plugin-sdk'

export default {
  name: 'app',
  data() {
    return {
      resShow: false,
      result: '',
      exampleList: [
        {
          name: '获取连网类型',
          desc: '结果为连网类型，可选值有 2g 3g 4g 5g wifi 空',
          invoke: 'getNetworkType',
          params: {},
        },
        {
          name: '获取用户信息',
          desc: '结果为token（用户的登录凭证）',
          invoke: 'getUserInfo',
          params: {},
        },
        {
          name: '设置标题',
          desc: '可以设置标题名称，背景色和控制是否显示',
          invoke: 'setTitle',
          params: {
            title: '',
            color: '',
            background: '',
            isShow: true
          },
        },
        {
          name: '通过蓝牙连接设备',
          desc: '结果为连接的状态',
          invoke: 'connectDeviceByBluetooth',
          params: {
            bluetoothName: ''
          }
        },
        {
          name: '通过蓝牙发送配网信息',
          desc: '结果为配网的状态',
          invoke: 'bluetoothNetwork',
          params: {
            wifiName: '',
            wifiPass: ''
          }
        },
        {
          name: '连接设备热点',
          desc: '结果为连接的状态',
          invoke: 'connectDeviceHotspot',
          params: {
            hotspotName: ''
          }
        },
        {
          name: '通过设备热点创建设备',
          desc: '结果为创建的状态',
          invoke: 'createDeviceByHotspot',
          params: {
            hotspotName: '',
            ownership: 'abcd1234'
          }
        },
        {
          name: '通过热点连接设备',
          desc: '结果为连接状态',
          invoke: 'connectDeviceByHotspot',
          params: {}
        },
        {
          name: '通过热点发送配网信息',
          desc: '结果为配网的状态',
          invoke: 'connectNetworkByHotspot',
          params: {
            wifiName: '',
            wifiPass: ''
          }
        },
        {
          name: '获取配网的设备信息',
          desc: '结果为设备信息',
          invoke: 'getDeviceInfo',
          params: {}
        }
      ]
    }
  },
  methods: {
    hideDialog() {
      this.resShow = false
    },
    invoke(action, params = {}) {
      const self = this
      zhitingBridge[action](params, function(res) {
        self.resShow = true
        self.result = res
      })
    }
  },
  mounted() {
  }
}
</script>
<style scoped>
.item {
  padding: 0 15px;
  background: #fff;
  margin-bottom: 1px;
}
.item h3 {
  padding-top: 15px;
  font-weight: normal;
  font-size: 16px;
  color: #333;
}
.item p {
  padding: 10px 0;
  font-size: 14px;
  color: #8d8c92;
  line-height: 1.5;
}
.item button {
  width: 100%;
  outline: none;
  height: 42px;
  line-height: 42px;
  background: #04be02;
  margin-bottom: 15px;
  font-size: 18px;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
.title {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 1px;
  background: #fff;
  text-align: center;
}
.dialog {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg-box {
  box-sizing: border-box;
  width: 80%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.msg-box p {
  font-size: 14px;
  color: #333;
  padding: 20px;
}
.msg-box button {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 0;
  outline: 0;
  border-top: 1px solid #eee;
  font-size: 16px;
  color: #23a0ff;
}
.input-item {
  display: flex;
  padding: 5px 0;
}
.input-item span {
  width: 80px;
  font-size: 14px;
  color: #8d8c92;
}
.input-item input {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 20px;
}
</style>
